@model Organization
@{
	ViewData["Title"] = "Организации";
}
<h2>Добавление организации</h2>
<form asp-action="Add" asp-controller="Organization">
    <div>
            <label asp-for="Name">Name</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
    </div>
        <br />
    <div>
        <input type="submit" value="Добавить" />
    </div>
    </form>
